a:link, a:visited {
	color: #0082e0;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}

img {
	border: none;
}

pre {
	max-width: 100%;
	overflow: auto;
	line-height: 1.4;
	background: #ffe;
	padding: 0.5em;
}

pre, code, tt, kbd {
	font-family: "Andale Mono",courier,monospace;
}

h1 {
	margin: 0 0 0.25em 0;
	font-size: 2em;
}


h2 {
	margin: 0 0 0.25em 0;
	font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
}

h4, h5, h6, input, select {
	margin: 0;
	font-size: 1em;
}

.comment
{
	font-style: italic;
	color: #999;
}

table
{
	border-collapse: collapse;
}

td, th
{
	padding: 0.3em;
	text-align: left;
	vertical-align: top;
}

caption
{
	font-size: 1.3em;
	text-align: left;
}

ul
{
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0.5em;
	margin-bottom: 1em;
}

ul.instructions
{
	width: auto;
	list-style-type: disc;
	margin-left: 0;
	padding: 0.5em;
	background: #fff;
	color: #000;
	margin-bottom: 1em;
}

ul#popup
{
	text-align: center;
	padding-bottom: : 0px;
	color: #000;
	top: 1em;
	cursor: default;
	z-index: 40;
}

ul#popup li
{
	text-align: center;
	margin: 0.3em 0;
	padding: 0 0.2em;
}

ul#popup hr {
	background: #eee;
	width: 100px;
}

ul#popup li.focus, ul#popup li.hover
{
	background: #42b9f4;
	border-radius: 20px;
}
ul.highlight
{
	color: #000;
}

li.draggable
{
	cursor: move;
}

ul li.hover, ul li.focused
{
	background: #42b9f4;
}

li.draggable, li.empty {
	background-color: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: inherit;
	text-align: center;
	position: relative;
}

li.static {
	background-color: #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: inherit;
	text-align: center;
	position: relative;
}

#progressBar {
	border-color: #fff;
}
/*overriding default jquery ui css values for progress bar*/
.ui-progressbar-value {
	background-color: green !important;
	opacity: 0.5;
	font-size: 12px;
	font-weight: normal !important;
	text-align: center;
	color: white !important;
	line-height: 28px !important;
	border: none !important;
	width: 100%;
	transition: width 0.5s;
	-webkit-transition: width 0.5s;
}

.pendingEffect {
  opacity: 0.5;
}
