
/* canvas styles */
html, body
{
	background: #00004d;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	color: #333333;
}

body
{
	font-size:0.8em;
}

h2 {
	color: white;
}

/* draggable targets */
[data-draggable="target"]
{
	color: #fff;
	min-height: 250px;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
	outline:none;
	box-shadow: none;
	min-height: 250px;
	opacity: 0.5;
	margin-left: 5px;
	color: #6495ed;
}

/* draggable items */
[data-draggable="item"]
{
	width: 85%;
	font-size: 1.1em;
    font-weight: 700;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
	list-style-type: none;
	font-family: Lato, sans-serif;
	color: #fff;
	padding: 10px;
	box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;
	border-radius: 5px;
}

/* items focus state */
[data-draggable="item"]:focus
{
	outline:none;
	font-size: 1.3em;
	border: 1px solid #e6e6e6;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
	opacity: 0.3;
	margin-left: 10px;
}

#progressBar {
	border-color: #fff;
	margin-left: 15px;
	padding-right: 50px;
}
/*overriding default jquery ui css values for progress bar*/
.ui-progressbar-value {
	background-color: green !important;
	opacity: 0.5;
	font-size: 12px;
	font-weight: normal !important;
	text-align: center;
	color: white !important;
	line-height: 28px !important;
	border: none !important;
	width: 92%;
}
#grading {
	padding-left: 40px !important;
	padding-top: 10px !important;
	bottom: 0px !important;
	left: 0px !important;
    width: 100% !important;
    position: fixed !important;
	background: #fff;
	color: black;
	opacity: 0.7;
}

.previewDrop {
	width: 85%;
	height: 44px;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
	list-style-type: none;
	font-family: Lato, sans-serif;
	color: #4d4d4d;
	padding: 10px 20px;
	font-weight: normal;
}
#app {
	margin-top: 30px;
}

section {
	min-height: 500px;
	padding-top: 50px;
}

.instructionsLi {
	list-style: none;
	font-size: 1.7em;
	padding: 10px;
	font-weight: 100;
}

#keyboardInstruc {
	padding: 0 50px 50px 50px;
}

#header {
	padding: 50px;
	font-weight: 300;
	font-size: 4em;
}

body, html {
	margin: 0;
	padding: 0;
}

#accessibleImg {
	max-height: 750px;
	width: 100%;
}

#instructions {
	color: black;
	padding-bottom: 50px;
	top: 0;
	left: 0;
	width: 100% !important;
	min-height: 300px;
	position: relative;
	overflow:auto;
	z-index: 100;
	background: #fff;
	margin-top: -30px;
}

#gradeHeader {
	margin-left: 15px;
}

#popup {
	text-align: center;
	padding: 0px;
	top: 1em;
	cursor: default;
	z-index: 40;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	opacity: 1.0;
}

.dropdown {
	-webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: .5;
  width: 5%;
  float: right;
  font-size: 20px;
}
li:hover > span {
	opacity: 1.0;
	-webkit-transition-duration: 0.5s; /* Safari */
	transition-duration: 0.5s;
}
.listhead {
	font-size: 25px;
	list-style: none;
}
.btn:hover{
	transform: scale(1.05);
	-webkit-transition: transform .5s; /* Safari */
	transition: transform .5s;
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
}
#download {
	color: #fff;
	background: #F05F40;
	margin: 10px;
	font-size: 1.5em;
}

#headerImage {
	padding-bottom: 50px;
}

@media (max-width: 990px) {
	[data-draggable="item"] {
		padding: 20px;
	}
}
